{% load i18n %}

{% autoescape off %}
<!DOCTYPE html>
<html>
<head>
  <title>Recuperar contraseña</title>
</head>
<body>
  <h1>Recuperar contraseña</h1>
  <p>Hola {{ user.username }},<br>
    Si usted ha solicitado cambiar su contrase&nacute;a, por favor, haga clic en el siguiente enlace:<br>
    <a href="{{ protocol }}://{{ domain }}{%url 'password_reset' uidb64=uid token=token %}">Restablecer contraseña</a>
  </p>
  <p>Si usted no ha solicitado cambiar su contrase&nacute;a, ignore este mensaje.</p>
  Gracias,
Equipo de {{ site_name }}
</body>
</html>
{% endautoescape %}