{% extends 'base.html' %}

{% block content %}

<style type="text/css">
.subcard{
  padding: 15px;
  margin: 5px 15px 5px 35px;
}
.supercard{
  padding:15px;
  margin-bottom:5px;
  margin:15px;
}
.btncalificar{
  --mdb-btn-bg: #bde6ae;
  --mdb-btn-color: #29272d;

  --mdb-btn-box-shadow: 0 4px 9px -4px #14a44d;
  --mdb-btn-hover-bg: #bde6ae;
  --mdb-btn-hover-color: #29272d;
  --mdb-btn-focus-bg: #139c49;
  --mdb-btn-focus-color: #fff;
  --mdb-btn-active-bg: #129445;
  --mdb-btn-active-color: #fff;
  --mdb-btn-box-shadow-state: 0 8px 9px -4px rgba(20,164,77,0.3),0 4px 18px 0 rgba(20,164,77,0.2);
}
.cpropio{
  /*color: #251e1e;
  background: #e9eec3;*/
  border-radius: 0px 0px 10px 10px;
}
.cotro{
  /*color: #251e1e;
  background: #ceeaee;*/
  border-radius: 0px 0px 10px 10px;
}
.crespondiendo{
  /*background: #d7e1eb !important;
  color: #415956 !important;*/
  border-radius: 10px 10px 0px 0px;
  padding-right: 5px;
}

.rating {
  color: #ffd700;
  font-size: 20px;
}

.star {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.star:before {
  content: "\2605";
  color: red;
}

.star.active:before {
  content: "\2605";
  color: #ffd700;
}
</style>

<div class="product-details card content-fluid p-3">
  <div class="row">
    <div class="col-sm-3">
      <a href="#" data-toggle="modal" data-target="#productModal">
        <img src="{{ producto.foto.url }}" alt="Imagen del producto" class="img-fluid">
      </a>
    </div>

    <div class="col-sm">
      
      <h2>{{ producto.nombreProducto }}</h2>
      <p>Tienda: {{ producto.tienda }}  {%if producto.tienda.latitude and producto.tienda.longitude %} - <a href="{% url 'tiendas_map' producto.tienda.id %}">Ver en el mapa</a>{%endif%}</p>
      <p>Precio: ${{ producto.precio }}</p>
      <p>Unidad: {{ producto.unidad }}</p>
      <p>{{ producto.descripcion }}</p>

 
      <span>Su calificación:</span>        
      <div style="display: inline-block;" class="rateyo" id="showrating" data-rating="{{rating|default_if_none:"0" }}"></div>
          <p id="rating_value"></p>

                  <script>
                    $(function() {
                        var srating = parseFloat($("#showrating").data("rating"));

                        $("#showrating").rateYo({
                            rating: srating,               
                            readOnly: true,
                            starWidth: "30px"
                        });

                        $("#rating_value").text("Rating: " + srating + "/5");
                    });
                </script>

            
                <button class="btn btncalificar" data-toggle="modal" data-target="#ratingModal">Calificar este producto</button>
      </div>
          
    </div>
  </div><!--fin del row-->
  
  
  <hr class="mt-0"/>


  <div id="Comentario" class="mt-10" >
        

        <form class="row" method="POST" id="comment_form" action="{% url "submit_comment" producto.id %}" style="display:none" >
          {% csrf_token %}

          <div class="d-flex justify-content-center">

            <input name="comentario" class="form-control  my-auto mx-2" placeholder="Añadir un comentario..." />
            
            <div>
              <button class="btn btncalificar btn-sm my-auto btn-block border comment-button" type="submit">
                Publicar
              </button>
            </div>
          </div>
        </form>

  </div>


</div><!--Dettales de producto-->


<p><!--Toggle de comentarios-->
  <button class="btn btn-success mt-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Mostrar Comentarios
  </button>
</p>


<div class="collapse" id="collapseExample">
              
          
      <div id="comantarioslst" class="mb-1 border-0">


            {% for comment in producto.get_comentarios %}
              {% if not comment.super_comment  %}<!--Solo super_comentarios-->

                  <div class="card card-body supercard"><!--Carta-->

                    <div class="crespondiendo d-flex flex-row justify-content-between">
                      
                      {%if comment.usuario.userprofile.avatar%}
                      <img style="width: 48px;height: 48px;" src="{{ comment.usuario.userprofile.avatar.url }}" alt="avatar" class="img-fluid m-2 rounded-circle">
                      {%else%}
                      <div class="bg-info d-flex justify-content-center align-items-center rounded-circle p-2 m-2 " style="color:white;width:48px;height:48px;">
                        {{ comment.usuario.username|first|upper }}
                      </div>
                      {%endif%}

 
                      <div style="display: inline-block;" class="rateyo" id="showrating_{{comment.id}}_{{user_id}}" data-rating="{{comment.related_rating.stars|default_if_none:"0" }}">

                      </div>    
                      
            
                              <script>
                                $(function() {
                                    var srating_{{comment.id}}_{{user_id}} = parseFloat($("#showrating_{{comment.id}}_{{user_id}}").data("rating"));
            
                                    $("#showrating_{{comment.id}}_{{user_id}}").rateYo({
                                        rating: srating_{{comment.id}}_{{user_id}},               
                                        readOnly: true,
                                        starWidth: "15px"
                                    });
                      
                                });
                            </script>
            
                        
                      

                      <!--Fin de la seccion superior: Respondiendo o estrellas-->
                    </div>
                  
                    <hr class="mb-2 mt-0" >
                    <div class="mb-0 d-flex justify-content-start content {% if comment.usuario == user %} cpropio {% else %} cotro {% endif %} ">
                      <strong class="">{{ comment.usuario }}:</strong> 
                      <p >{{ comment.text }}</p> 
                    </div>
                    <span class="d-flex justify-content-end">  
                      <span class="btn " id="responder_{{comment.id}}"><i class="fa fa-reply"></i>&nbsp;</span>
                      <span class="btn " type="button" data-toggle="collapse" data-target="#collapseComments_{{comment.id}}" aria-expanded="false" aria-controls="collapseComments_{{comment.id}}"><i class="fa fa-comment"></i></span>
                    <span>

                  </div><!--card-->   

                  <script>

                    $("#responder_{{comment.id}}").click(function() {
                      
                      thtml = "Hello"  
                      vhtml = "                                                                       \
                      <div id='replicando' class='row  p-1 m-2 bg-info text-light'>                    \
                        <input type='hidden' name='parent_comment' value='{{comment.id}}'>                           \
                        <div  style='max-width:10%;'><i class='fa fa-reply'></i></div>                   \  \
                        <div  style='max-width:80%;'>    \                                                \
                            <span><b>Respondiendo a:&nbsp;</b> {{comment.usuario}}->{{comment.text}}</span>                \
                        </div>                                                                              \
                        <div  style='max-width:5%;'>x</div>                                                  \
                      </div>    \                                                                              \
                      ";                                                                          
                      //primero eliminar si existe el div
                      $("#replicando").remove();
                      //luego agregarlo
                        $("#comment_form").prepend(vhtml);
                        $("#comment_form").show();
                        $('html, body').animate({
                          scrollTop: $("#comment_form").offset().top
                      }, 1000);

                        //$("#responder_{{comment.id}}").hide();
                    });
                  </script>
                  
                  <!--SUBCOMENTARIOS-->
                  <div id="collapseComments_{{comment.id}}" class="collapse">
                    {% for subcomment in producto.get_comentarios %}
                      {% if subcomment.super_comment == comment.id%}

                            <div class="card card-body subcard pl-5"><!--subcarta-->
                              <div class="crespondiendo d-flex flex-row justify-content-between align-items-center">
                                                                                                  
                                  {%if subcomment.usuario.userprofile.avatar%}
                                  <img style="width: 48px;height: 48px;" src="{{ comment.usuario.userprofile.avatar.url }}" alt="avatar" class="img-fluid m-2 rounded-circle">
                                  {%else%}
                                  <div class="bg-info d-flex justify-content-center align-items-center rounded-circle p-2 m-2 " style="color:white;width:48px;height:48px;">
                                    {{ subcomment.usuario.username|first|upper }}
                                  </div>
                                  {%endif%}
                                  <b class="crespondiendo"><p>En respuesta a <b>{{ subcomment.parent_comment.usuario }}:</b> {{ subcomment.parent_comment.text }}</p></b>
                          
                                <!--Fin de la seccion superior: Respondiendo o estrellas-->
                              </div>
                              <hr class="mb-2 mt-0" >
                              <div class="mb-0 d-flex justify-content-start content {% if subcomment.usuario == user %} cpropio {% else %} cotro {% endif %} ">
                                <strong class="">{{ subcomment.usuario }}:</strong> 
                                <p >{{ subcomment.text }}</p> 
                              </div>
                              <span class="d-flex justify-content-end">
                                <span class="btn " id="responder_{{subcomment.id}}"><i class="fa fa-reply"></i>&nbsp;</span>
                              </span>
                            
                              
                              <script>
    
                                $("#responder_{{subcomment.id}}").click(function() {
                                  
                                  thtml = "Hello"  
                                  vhtml = "                                                                       \
                                  <div id='replicando' class='row  p-1 m-2 bg-info text-light'>                    \
                                    <input type='hidden' name='parent_comment' value='{{subcomment.id}}'>                           \
                                    <div  style='max-width:10%;'><i class='fa fa-reply'></i></div>                   \  \
                                    <div  style='max-width:80%;'>    \                                                \
                                        <span><b>Respondiendo a:&nbsp;</b> {{subcomment.usuario}}->{{subcomment.text}}</span>                \
                                    </div>                                                                              \
                                    <div class='btn' style='max-width:5%;' id='cerrar_rcoment'>x</div>                                                  \
                                  </div>    \                                                                            \
                                  ";    
                                  
                                                                     
                                  //primero eliminar si existe el div
                                  $("#replicando").remove();
                                  //luego agregarlo
                                    $("#comment_form").prepend(vhtml);
                                    $("#comment_form").show()
                                    $('html, body').animate({
                                      scrollTop: $("#comment_form").offset().top
                                  }, 1000);
                          
                                    //$("#responder_{{subcomment.id}}").hide();
                                 });
                              </script>
                              
                            </div><!--subcard-->   
                      
                      {%endif%}
                    {% endfor %}
                    
                  </div>
                  <!--Fin de subcomentarios-->


                  <hr clas='border-0'/>
                    

                    
              {%endif%}      
            {% endfor %}

      </div><!--Fin comentarioslst-->
    
  
</div><!--Collapse de Todos los comentarios-->
    
    

      




















<!-- Modal para mostrar la imagen ampliada -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="{{ producto.foto.url }}" alt="Imagen del producto" class="img-fluid img-thumbnail">
      </div>
    </div>
  </div>
</div>

<!-- Modal para calificar con estrellas y comentario-->
<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">


        <h4>Calificar el producto</h4>


        <!--En este modal no se responde sino que solo se permite un comentario 
          de este tipo con calificacion que luego solo puede ser modificado
        no tiene valor de parent_comment como los de responder que pueden ser multiples
           <input type='hidden' name='parent_comment' value=''>  
           y debe ser el unico de este usuario a este producto
      -->

        <!--rating-->
        <div style="display: inline-block;" class="rateyo" id="rating_{{ producto.id }}" data-rating="{{ rating|default_if_none:"0" }}"></div>
        <p id="rating_value_{{ producto.id }}"></p>

        <!--Formulario de comentario-->
        <div class="row" id="comment_form_2" action="{% url "submit_comment" producto.id %}" >
          {% csrf_token %}

          <div class="d-flex justify-content-center">

            <input id="comentario2" name="comentario2" class="form-control  my-auto mx-2" placeholder="Añadir un comentario..." />
            
            <div>
              <button class="btn btncalificar btn-sm my-auto btn-block border comment-button" id="btn_send_c">
                Publicar
              </button>
            </div>
          </div>
        </div>
        <!--fin del formulario de comentario-->
        
        {% if user.is_authenticated %}
          <script>

            $(function() {
              var rat2 = parseFloat($("#rating_{{ producto.id }}").data("rating"));
              
              
              $("#rating_{{ producto.id }}").rateYo({
                rating: rat2,                  
                readOnly: false,
                starWidth: "30px",
                fullStar: true,

                onSet: function(rating,rateYoInstance){
                  rat3 = rating;
                }
              
                
              });


              var rat3 = parseFloat($("#rating_{{ producto.id }}").data("rating"));
              
              //envio del formulario del modal de calificacion
              $("#btn_send_c").click(function() {
                
                var com = $("#comentario2").val();
                //alert("rating -> "+rat3+" "+com)
                
                $.ajax({
                  url: "{% url 'submit_rating' producto.id %}",  
                  method: "POST",
                  data: {
                    rating: rat3,
                    comment: com,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                  },
                  success: function(response) {
                    $("#rating_value_{{ producto.id }}").text("Rating: " + rat3 + "/5");
                    $("#rating_value").text("Rating: " + rat3 + "/5");
                    $("#showrating").rateYo("option", "rating", rat3);

                    //$("#collapseExample").show();
                    
                    //$("#comantarioslst").append(" \
                    $("#rating_value").append(" \
                      <p id='nuevoc' class='bg-light text-dark'> <b>Comentario enviado:<b> " + com + " \
                      </p>");
                    
                      /*
                    $('html, body').animate({
                            scrollTop: $("#nuevoc").offset().top
                        }, 2000);
                        */

                    
                    //$("#ratingModal").modal('toggle'); 
                    
                    $('#ratingModal').hide();
                    $('.modal-backdrop').hide();
                    //alert("Calificación recibida, muchas gracias!")
                    
                  },
                  error: function(xhr, status, error) {
                    console.log(error);
                    $("#rating_value_{{ producto.id }}").text(error);
                  }
                      });//ajax
                    });//btn click envio del modal
                    
                  });//fin del document.ready
                  
                  

          </script>
        {% endif %}

        {% if not user.is_authenticated %}
        <script>
          $(function() {


          
            var rat2 = parseFloat($("#rating_{{ producto.id }}").data("rating"));

            $("#rating_{{ producto.id }}").rateYo({
                rating: rat2,                  
                readOnly: false,
                starWidth: "30px",
                fullStar: true,
                onSet: function(rating, rateYoInstance) {
                  alert("Debe estar logueado para calificar.")
                }
            });
          });


        </script>
        {% endif %}
        <!--fin rating-->
      </div>
    </div>
  </div>
</div>


<br>

<a href="{% url 'listar_producto' %}">Volver a la lista de productos</a>
{% endblock %}
