{% extends 'base.html' %}

{% block content %}

<style type="text/css">

.rating {
  color: #ffd700;
  font-size: 20px;
}

.star {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.star:before {
  content: "\2605";
  color: red;
}

.star.active:before {
  content: "\2605";
  color: #ffd700;
}
</style>

<div class="product-details card content-fluid p-3">
  <div class="row m-3">
    <div class="col-sm-4">
      <a href="#" data-toggle="modal" data-target="#productModal">
        <img src="{{ producto.foto.url }}" alt="Imagen del producto" class="img-fluid">
      </a>


 
      <div style="display: inline-block;" class="rateyo" id="showrating" data-rating="{{rating|default_if_none:"0" }}"></div>
      <p id="rating_value"></p>

      <script>
        $(function() {
            var srating = parseFloat($("#showrating").data("rating"));

            $("#showrating").rateYo({
                rating: srating,               
                readOnly: true,
                starWidth: "30px"
            });

            $("#rating_value").text("Rating: " + srating + "/5");
        });
    </script>

    </div>
    <div class="col-sm-6">
      <h2>{{ producto.nombreProducto }}</h2>
      <p>Tienda: {{ producto.tienda }}</p>
      <p>Precio: ${{ producto.precio }}</p>
      <p>Unidad: {{ producto.unidad }}</p>
      <p>{{ producto.descripcion }}</p>

      <button class="btn btn-primary" data-toggle="modal" data-target="#ratingModal">Calificar</button>
      <hr class="mt-0"/>



      <div id="Comentario" class="mt-10" >
        

        <form class="row" id="comment_form" action="{% url "submit_comment" producto.id %}" style="display:none" >
          {% csrf_token %}

          <div class="d-flex justify-content-center">

            <input name="comentario" class="form-control  my-auto mx-2" placeholder="Añadir un comentario..." />
            
            <div>
              <button class="btn btn-primary btn-sm my-auto btn-block border comment-button" type="submit">
                Publicar
              </button>
            </div>
          </div>
        </form>


        <p>
          <button class="btn btn-success mt-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Mostrar Comentarios
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            
                  
              <div id="comantarioslst" class="mb-1 border-0">
                {% for comment in producto.get_comentarios %}
                <div class="card">
                  {% if comment.parent_comment %}
                    <b class="bg-info text-light"><p>En respuesta a: {{ comment.parent_comment }}</p></b>
                  {% endif %}
                  <div class="mb-0 d-flex justify-content-between content ">
                    <strong class="">{{ comment.usuario }}:</strong> 
                    <p class="">{{ comment.text }}</p> 
                    <span class="btn btn-primary" id="responder_{{comment.id}}"><i class="fa fa-reply"></i>&nbsp;Responder</span>
                  </div>
                </div>
                <hr clas='border-0'/>
                
                <script>

                  $("#responder_{{comment.id}}").click(function() {
                    
                    thtml = "Hello"  
                    vhtml = "                                                                       \
                    <div id='replicando' class='row  p-1 m-2 bg-info text-light'>                    \
                      <input type='hidden' name='parent_comment' value='{{comment.id}}'>                           \
                      <div  style='max-width:10%;'><i class='fa fa-reply'></i></div>                   \  \
                      <div  style='max-width:80%;'>    \                                                \
                          <span><b>Respondiendo a:&nbsp;</b> {{comment}}</span>                \
                      </div>                                                                              \
                      <div  style='max-width:5%;'>x</div>                                                  \
                    </div>    \                                                                              \
                    ";                                                                          
                    //primero eliminar si existe el div
                    $("#replicando").remove();
                    //luego agregarlo
                      $("#comment_form").prepend(vhtml);
                      $("#comment_form").show()

                      //$("#responder_{{comment.id}}").hide();
                 });
                </script>
                
                {% endfor %}
              </div>
            
          </div>
        </div>
      
      

      </div>


      {% comment %} <h3>{{ producto.rating_set.filter(usuario=request.user).first.stars }}</h3> {% endcomment %}


         <!--########## LIKES #################

         <div id="like_{{ producto.id }}"class='d-flex justify-content-end col-4 p-0'>
          <a
            type="button"
            data-producto="like_{{producto.id}}"
            class="fs-5 text-reset like-button"
            >
            {% if user in producto.likes.all %}
            <i class="fas fa-heart text-danger"></i>
            {% else%}
            <i class="far fa-heart"></i>
            {% endif %}
          </a>
          <p class="fw-bold fs-5 px-1">{{producto.likes.all | length}}</p>
          <p class="fw-bold fs-5 col-auto">Me gusta</p>
        </div-->




    </div>



 

  </div>
</div>

<!-- Modal para mostrar la imagen ampliada -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="{{ producto.foto.url }}" alt="Imagen del producto" class="img-fluid img-thumbnail">
      </div>
    </div>
  </div>
</div>

<!-- Modal para calificar con estrellas -->
<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">


        <h4>Calificar el producto</h4>

        <!--rating-->
        <div style="display: inline-block;" class="rateyo" id="rating_{{ producto.id }}" data-rating="{{ rating|default_if_none:"0" }}"></div>
        <p id="rating_value_{{ producto.id }}"></p>

        <!--Formulario de comentario-->
        <div class="row" id="comment_form_2" action="{% url "submit_comment" producto.id %}" >
          {% csrf_token %}

          <div class="d-flex justify-content-center">

            <input id="comentario2" name="comentario2" class="form-control  my-auto mx-2" placeholder="Añadir un comentario..." />
            
            <div>
              <button class="btn btn-primary btn-sm my-auto btn-block border comment-button" id="btn_send_c">
                Publicar
              </button>
            </div>
          </div>
        </form>
        <!--fin del formulario de comentario-->
        
        {% if user.is_authenticated %}
        <script>

          $(function() {
            var rat2 = parseFloat($("#rating_{{ producto.id }}").data("rating"));
            
            
            $("#rating_{{ producto.id }}").rateYo({
              rating: rat2,                  
              readOnly: false,
              starWidth: "30px",
              fullStar: true,

              onSet: function(rating,rateYoInstance){
                rat3 = rating;
              }
              /*
              onSet: function(rating, rateYoInstance) {
                $.ajax({
                  url: "{% url 'submit_rating' producto.id %}",  // Replace 'submit_rating' with the actual URL name for your view
                  method: "POST",
                  data: {
                    rating: rating,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                  },
                  success: function(response) {
                    $("#rating_value_{{ producto.id }}").text("Rating: " + rating + "/5");
                    $("#rating_value").text("Rating: " + rating + "/5");
                    $("#showrating").rateYo("option", "rating", rating);
                    
                    //$("#ratingModal").modal('toggle'); 
                    $('#ratingModal').hide();
                    $('.modal-backdrop').hide();
                    alert("Calificación recibida, muchas gracias!")
                    
                  },
                  error: function(xhr, status, error) {
                    console.log(error);
                    $("#rating_value_{{ producto.id }}").text(error);
                  }
                });
              }*/ // on set
              
            });

            //$("#rating_value_{{ producto.id }}").text("Rating: " + rat2 + "/5");

          //});
          
          //$(document).ready(function(){

            var rat3 = parseFloat($("#rating_{{ producto.id }}").data("rating"));
            
            //envio del formulario del modal de calificacion
            $("#btn_send_c").click(function() {
              
              var com = $("#comentario2").val();
              alert("rating -> "+rat3+" "+com)
              
              $.ajax({
                url: "{% url 'submit_rating' producto.id %}",  
                method: "POST",
                data: {
                  rating: rat3,
                  comment: com,
                  csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(response) {
                  $("#rating_value_{{ producto.id }}").text("Rating: " + rat3 + "/5");
                  $("#rating_value").text("Rating: " + rat3 + "/5");
                  $("#showrating").rateYo("option", "rating", rat3);

                  $("#collapseExample").show();
                  
                  $("#comantarioslst").append(" \
                     <p id='nuevoc' class='bg-light text-dark'> <b>SU comentario:<b> " + com + " \
                     </p>");
                  
                  $('html, body').animate({
                          scrollTop: $("#nuevoc").offset().top
                      }, 2000);
                      

                  
                  //$("#ratingModal").modal('toggle'); 
                  
                  $('#ratingModal').hide();
                  $('.modal-backdrop').hide();
                  alert("Calificación recibida, muchas gracias!")
                  
                },
                error: function(xhr, status, error) {
                  console.log(error);
                  $("#rating_value_{{ producto.id }}").text(error);
                }
                    });//ajax
                  });//btn click envio del modal
                  
                });//fin del document.ready
                
                

      </script>
      {% endif %}
      {% if not user.is_authenticated %}
      <script>
        $(function() {
            var rat2 = parseFloat($("#rating_{{ producto.id }}").data("rating"));

            $("#rating_{{ producto.id }}").rateYo({
                rating: rat2,                  
                readOnly: false,
                starWidth: "30px",
                fullStar: true,
                onSet: function(rating, rateYoInstance) {
                  alert("Debe estar logueado para calificar.")
                }
            });
        });
    </script>
      {% endif %}
        <!--fin rating-->
      </div>
    </div>
  </div>
</div>


<br>

</div>
  <!--a href="{% url 'editar_producto' producto.id %}">Editar</a>
  <a href="{% url 'eliminar_producto' producto.id %}">Eliminar</a>
  <a href="{% url 'listar_producto' %}">Volver a la lista de productos</a-->
{% endblock %}
