{% extends 'base.html' %}

{% block content %}
<style>
  .price {
    color: #263238;
    font-size: 24px;
  }

  .card-title {
    color: #263238
  }

  .sale {
    color: #E53935
  }

  .sale-badge {
    background-color: #E53935
  }
</style>


<!--Main layout-->
<main>
  <div class="container">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2" style="background-color: #607D8B">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Ordenar por:</a>
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Link -->
        <li class="nav-item active">
          <a class="nav-link text-white" href="#">Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Precio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Calificación</a>
        </li>
      </ul>
      <!-- Search -->
      <form class="w-auto py-1" style="max-width: 12rem">
        <input type="search" class="form-control rounded-0" placeholder="Search" aria-label="Search">
      </form>
      <!-- Dropdown -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="tiendaDropdown" data-mdb-toggle="dropdown"
          aria-expanded="false">
          Tienda
        </button>
        <ul class="dropdown-menu" aria-labelledby="tiendaDropdown">
          <li><a class="dropdown-item" href="#">Todas</a></li>
          <li><a class="dropdown-item" href="#">Tienda1</a></li>
          <li><a class="dropdown-item" href="#">Tienda2</a></li>
          <li><a class="dropdown-item" href="#">Tienda3</a></li>
        </ul>
      </div>

      <form class="form-inline" method="get" action="">
        <div class="form-group">
            <select class="form-control" name="mostrar" id="mostrar" onchange="this.form.submit()">
                <option value="5" {% if mostrar == 5 %}selected{% endif %}>5 productos</option>
                <option value="50" {% if mostrar == 50 %}selected{% endif %}>50 productos</option>
                <option value="100" {% if mostrar == 100 %}selected{% endif %}>100 productos</option>
            </select>
        </div>
    </form>


    </div>
  </div>
  <!-- Container wrapper -->
</nav>
    <!-- Products -->
    <section>
      <div class="text-center">
        <div class="row">

          {% for producto in page_obj %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                <img src="{{ producto.foto.url }}" class="img-thumbnail" style="max-height: 150px;" />
                <a href="{% url 'detalle_producto' producto.id %}">
                  <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                      <h5><span class="badge bg-dark ms-2">


                          {% if producto.rating_average %}
                          <p>{{ producto.rating_average }}</p>
                          {% else %}
                          <p>No rating</p>
                          {% endif %}


                        </span></h5>
                    </div>
                  </div>
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">

                <div class="rateyo" id="rating_{{ producto.id }}" data-rating="{{ producto.rating_average|default_if_none:"0" }}"></div>
                <p id="rating_value_{{ producto.id }}"></p>
            
                <script>
                    $(function() {
                        var ratingAverage = parseFloat($("#rating_{{ producto.id }}").data("rating"));
            
                        $("#rating_{{ producto.id }}").rateYo({
                            rating: ratingAverage,
                            readOnly: true,
                            starWidth: "30px"
                        });
            
                        $("#rating_value_{{ producto.id }}").text("Rating: " + ratingAverage + "/5");
                    });
                </script>


                <a href="" class="text-reset">
                  <h5 class="card-title mb-2">{{ producto.nombreProducto }} </h5>
                  <h6>{{ producto.unidad }}</h6>
                </a>
                <a href="" class="text-reset ">
                  <p>{{ producto.tienda }} - {{ producto.descripcion |truncatewords:50 }}</p>
                </a>
                <h6 class="mb-3 price">{{ producto.precio }}$</h6>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </section>
<!-- Pagination -->
<nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?mostrar={{ mostrar }}&page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if num == page_obj.number %}
    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?mostrar={{ mostrar }}&page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
<!-- Pagination -->

  </div>
</main>
<!--Main layout-->









{% endblock %}