{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .price {
    color: #263238;
    font-size: 24px;
  }

  .card-title {
    color: #263238
  }

  .sale {
    color: #E53935
  }

  .sale-badge {
    background-color: #E53935
  }
</style>



<!--Main layout-->
<main>
  <div class="container">
    <div class="p-2 container-fluid " style="background-color: #607D8B">
      <div class="row">
        <!--img src={% static 'shop.png' %} class="col-sm img-thumbnail"-->
        <h1 class="col-sm-10" style="color:white;display:flex; justify-content:center;">Teletienda</h1>


      <!-- Dropdown Registro-->
    {% if user.is_authenticated %}
    <div class="dropdown col-sm-1" style="">
      <button class="btn btn-secondary dropdown-toggle col-sm-3" type="button" id="userDropdown" data-mdb-toggle="dropdown"
        aria-expanded="false">
        {{ user.username|first|upper }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="userDropdown">
        <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Editar perfil</a></li>
        <li><a class="dropdown-item" href="{% url 'milogout' %}">Salir</a></li>
      </ul>
    </div>
    {% else %}
    <div class="dropdown col-sm-1" style="">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="registerDropdown" data-mdb-toggle="dropdown"
        aria-expanded="false">
        Registro
      </button>
      <ul class="dropdown-menu" aria-labelledby="registerDropdown">
        <li><a class="dropdown-item" href="{% url 'login' %}">Registrar</a></li>
        <li><a class="dropdown-item" href="{% url 'register' %}">Crear cuenta</a></li>
      </ul>
    </div>
    {% endif %}


    </div>
  </div>
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2" style="background-color: #607D8B">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
 
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-chevron-down"></i>
    </button>


    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
      

      <!-- Dropdown -->

     
     <form id="navform" class="form-inline row col-lg-12" method="get" action="">
        
        <div class="input-group  col-sm-6 my-2">
            <input name="search" onchange="this.form.submit()" {% if search %} value="{{search}}" {% endif %} class="form-control border-end-0 border " placeholder="Buscar..." type="search" id="example-search-input">
            <span class="input-group-append">
                <button class="btn bg-white border-bottom-0 border " type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
            
        </div>

        <ul class="me-auto mb-2 mb-2  col-sm-6" style="color:white; list-style-type: none;" >
          
          <li class="nav-item">
            <div class="form-check form-switch">
              <i class="fa fa-dollar"></i>
              <input {% if cprecio and cprecio == "on" %}checked{% endif %} name="cprecio" class="form-check-input" type="checkbox" role="switch" id="cprecio" onchange="this.form.submit()">
              
              <label class="form-check-label" for="flexSwitchCheckDefault">Mejor Precio</label>
            </div>
          </li>

          <li class="nav-item">
            <div class="form-check form-switch">
              <i class="fa fa-star"></i>
              <input {% if ccalif and ccalif == "on" %}checked{% endif %}  name="ccalif" class="form-check-input" type="checkbox" role="switch" id="ccalif">
              <label class="form-check-label" for="flexSwitchCheckDefault">Mejor Calificaci&oacute;n</label>
            </div>
          </li>
          
        </ul>

      <div class="col-sm-4">
        <div class="form-group  col-sm">
          <select class="form-control"  name="tienda" id="tiendasSelect" onchange="this.form.submit()">
              <option {% if shop.nombre == "Todas las tiendas" %}selected=""{% endif %} class="dropdown-item" value="">Todas las tiendas</option>
              {% for tienda in tiendas %}
                  <option class="dropdown-item" {% if shop.nombre == tienda.nombre %}selected=""{% endif %} value="{{ tienda.nombre }}">{{ tienda.nombre }}</option>
              {% endfor %}
          </select>
        </div>

        <div class="form-group col-sm">
            <select class="form-control" name="mostrar" id="mostrar" onchange="this.form.submit()">
                <option value="5" {% if mostrar == 5 %}selected{% endif %}>5 productos</option>
                <option value="50" {% if mostrar == 50 %}selected{% endif %}>50 productos</option>
                <option value="100" {% if mostrar == 100 %}selected{% endif %}>100 productos</option>
            </select>
        </div>
      </div>
    </form>

    </div><!--del Collapsible-->



  </div><!--del container-fluid-->



  <!-- Container wrapper -->
</nav>

    <!-- Products -->
    <section>
      <div class="text-center">
        <div class="row">

          {% for producto in page_obj %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                <img src="{{ producto.foto.url }}" class="img-thumbnail" style="max-height: 150px;" />
                <a href="{% url 'detalle_producto' producto.id %}">

                  <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                </a>
              </div>
              <div class="card-body">
                
                <div style="display: flex;justify-content:center">
                  
                <span>
                <div style="display: inline-block;" class="rateyo" id="rating_{{ producto.id }}" data-rating="{{ producto.rating_avg|default_if_none:"0" }}"></div>
                <p>{{producto.rating_cnt}} calificaciones</p>
                </span>
              
              
                <input type=hidden id="rating_avgh_{{producto.id}}" value="{{ producto.rating_avg|floatformat:2}}">
                
               
                <span>
                  <div class="d-flex justify-content-start align-items-end h-100">

                    <h5>
                      <a href="#">

                      {% if producto.rating_avg == 0 %}
                        <span class="badge bg-dark ms-1" style="height:2em;">
                      {% elif producto.rating_avg > 0 and producto.rating_avg < 3 %}
                        <span class="badge bg-warning ms-1" style="height:2em;">
                      {% elif producto.rating_avg >= 3 and producto.rating_avg < 5 %}
                        <span class="badge bg-primary ms-1" style="height:2em;">
                      {% else %}
                        <span class="badge bg-success ms-1" style="height:2em;">
                      {% endif %}

                        <p><i class="fa fa-star" aria-hidden="true"> </i>&nbsp;{{ producto.rating_avg | floatformat:1 }}</p>
                      </span>
                    </a>
                    <a href="{% url 'detalle_producto' producto.id %}">
                      <p><i class="fa fa-comments" aria-hidden="true"> </i>&nbsp;{{producto.get_comentarios.count}}</p>
                    </a>
                    </h5>
                  </div>
                </span>
                
              </div>


                <script>
                    $(function() {
                        //var ratingAverage = parseFloat($("#rating_{{ producto.id }}").data("rating")).toFixed(2);
                        //var ratingAverage = parseFloat($("#rating_avgh_{{producto.id}}").val())
                        //var ratingAverage = parseFloat($("#rating_avgh_{{producto.id}}").val())
                        var ratingAverage = parseFloat($("#rating_avgh_{{producto.id}}").val().replace(",",".")).toFixed(1)
                        $("#rating_{{ producto.id }}").rateYo({
                            rating: ratingAverage,
                            readOnly: true,
                            starWidth: "30px",
                            multiColor: {
 
                              "startColor": "#FF0000", //RED
                              "endColor"  : "#00FF00"  //GREEN
                            }
                          });
                          
                          //precision: 2,
                          //fullStar: false,
                          //halfStar: true
                        //$("#rating_value_{{ producto.id }}").text("Rating: " + ratingAverage.toFixed(2) + "/5");
                    });
                </script>

                <hr class="mt-0"/>


                <!--########## LIKES #################--

                <div id="like_{{ producto.id }}"class='d-flex justify-content-end col-4 p-0'>
                  <a
                    type="button"
                    data-producto="like_{{producto.id}}"
                    class="fs-5 text-reset like-button"
                    >
                    {% if user in producto.likes.all %}
                    <i class="fas fa-heart text-danger"></i>
                    {% else%}
                    <i class="far fa-heart"></i>
                    {% endif %}
                  </a>
                  <p class="fw-bold fs-5 px-1">{{producto.likes.all | length}}</p>
                  <p class="fw-bold fs-5 col-auto">Me gusta</p>
                </div>
                
                <hr /-->

                  <!--########## DESCRIPCION #################-->

                <a class="text-reset" href="{% url 'detalle_producto' producto.id %}">
                  <h5 class="card-title mb-2">{{ producto.nombreProducto }} </h5>
                  <h6>Unidad: {{ producto.unidad }}</h6>
                </a>
                <a class="text-reset " href="{% url 'detalle_producto' producto.id %}">
                  <p>{{ producto.tienda }} - {{ producto.descripcion |truncatewords:7 }}</p>
                </a>
                <h6 class="mb-3 price">{{ producto.precio }}$</h6>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </section>

    
<!-- Pagination -->
<nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?search={{ search }}&mostrar={{ mostrar }}&cprecio={{ cprecio }}&ccalif={{ ccalif }}&page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if num == page_obj.number %}
    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?search={{ search }}&mostrar={{ mostrar }}&cprecio={{ cprecio }}&ccalif={{ ccalif }}&page={{ num }}">{{ num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?search={{ search }}&mostrar={{ mostrar }}&cprecio={{ cprecio }}&ccalif={{ ccalif }}&page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
<!-- Pagination -->

  </div>
</main>
<!--Main layout-->

<script type="text/javascript">
  $(document).ready(function () {
      $('#cprecio').click(function() {
      //$('#console-event').html('Toggle: ' + $(this).prop('checked'))
      //alert("fufu")
      $(".form-inline").submit();
    })
    $('#ccalif').click(function() {
      $("#navform").submit();
      //alert("fufu")
    }) 
  });
  </script>







{% endblock %}